<section class="fase">
    <div class="card" style="width: 18rem;">

        <div class="card-body descricao">
           <label>Fase: {{fase.ordem}}</label>
        </div>
        <div class="card-body">
          <label>{{fase.nome}}</label>
        </div>
        <div class="card-body">
            @if (fase.campeonatoFaseTipo != null ) {
              <app-fase-tipo
                [faseTipo] = "fase.campeonatoFaseTipo"
              ></app-fase-tipo>
            }
            @else {
              <h1>Tipo fase não cadastrado</h1>
            }
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-outline-danger" (click)="showModal()"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    <app-modal
      #deleteModal
      title="Deletar fase"
      (confirma)="onConfirmarClick()"
      (cancela)="onCancelarClick()"
    >
    Você realmente deseja deletar a fase: {{fase.ordem}} - {{fase.nome}} ?
  </app-modal>
</section>