<section class="equipe">
     <div class="card" style="width: 18rem;">
      @if (equipe.logomarca) {
        <img [src]="equipe.logomarca" alt="Escudo equipe" width="285px" height="285px">
      }
      @else {
          <img src="/assets/no-image-icon.png" alt="Escudo equipe" width="285px" height="285px">
      }
        <div class="card-body">
            <h5 class="card-title" 
            [style]="{'color': equipe.corPrincipal != null ? equipe.corPrincipal : 'black'}"
            >{{equipe.nome}}</h5>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/lista-jogador', equipe.id]" title="Editar jogadores"><i class="bi bi-list"></i>Jogadores</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/formulario-equipe', equipe.id]"title="Editar"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-outline-danger botao" [routerLink]="['/formulario-equipe', equipe.id]" title="Deletar"><i class="bi bi-trash"></i></button>
          </div>
      </div>
</section>
